pre{
    border: 3px solid #E7E7E7;
}

#text {
    margin-top: 1%;
    margin-bottom: 1%;
    transition: 1s;
    padding: 5%;
    width: 70%;
    text-align: justify;
    margin-left: 15%;
    /*background: url(coule.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E7E7E7;
}

.buttonNavBar {
    text-align: center;
    font-size: 2em;
    transition: 0.5s;
    line-height: 2em;
}

.buttonNavBar:hover {
    background-color: darkblue;
    text-decoration: underline;
    line-height: 2.5em;
}

@media screen and (max-width: 1024px) {
    #text {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 900px) {
    #text {
        margin-left: 2.5%;
        width: 95%;
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2em !important;
    }
}

@media screen and (max-width: 1200px) {
    .buttonNavBar {
        font-size: 1.5em !important;
        border-bottom: 3px white solid;
    }
    .buttonNavBar:hover {
        line-height: 2em;
        font-size: 3em !important;
    }
}

.title {
    text-align: center;
    font-weight: bolder;
    transition: 1s;
    font-size: 5em;
}

.title:hover {
    color: midnightblue;
    font-size: 6em;
    text-decoration: underline;
}

#postNumber {
    text-align: right;
    text-decoration: underline;
    font-style: italic;
}

#postDate {
    text-align: left;
    text-decoration: underline;
}

#author {
    text-align: center;
}

#topBar {
    background: black;
    color: white;
}

.internalLink {
    transition: 1s;
}

a.internalLink:link,
a.internalLink:visited {
    color: white;
}

#postInfos {
    transition: 1s;
}

#postInfos:hover {
    color: darkblue;
    font-size: 1.5em;
}

#actualPostName {
    text-align: center;
    margin-top: 1%;
    transition: 1s;
    text-decoration: underline;
    font-size: 2em;
}

#actualPostName:hover {
    color: darkblue;
    font-size: 3em;
}

#postNavigation {
    text-align: center;
}

.buttonNavigation, 
.buttonTripleDot {
    border: 2px solid black;
    color: white;
    background: black;
    font-weight: bolder;
    transition: 0.5s;
    line-height: 2em;
    margin-top: 2%;
    width: 90%;
}

.buttonNavigation:hover,
.buttonTripleDot:hover{
    background: darkblue;
    /*line-height: 2.5em;*/
    transform: scale(1.1);
}


@media screen and (max-width: 767px) {
    .buttonNavigation,
    .buttonTripleDot {
        margin-left: 5%;
    }
    
    .footerText:first-child{
        border-right-color: #E7E7E7 !important;
        border-bottom: 3px solid darkblue;
    }
    
    .footerText:last-child{
        border-left-color: #E7E7E7 !important;
        border-top: 3px solid darkblue;
    }
    
    #bottom{
        width: 98% !important;
        margin-left: 1%;
    }
}

#bottom{
    text-align: center;
    height: 10%;
    margin-top: 5%;
    line-height: 6em;
    background: #E7E7E7;
    overflow: none;

}

.footerText:first-child{
    border-right: 3px solid darkblue;
}
.footerText:last-child{
    border-left: 3px solid darkblue;
}

.footerText pre{
    background-color: #E7E7E7;
    border: none;
}

#Form {
    text-align: center;
    padding: 2%;
    border: 4px solid;
    border-color: lightgray;
    width: 70%;
    margin: auto;
    margin-top: 3%;
    transition: 1s;
    background: #E7E7E7
}

.input {
    text-align: center;
    padding: 1%;
    border: 3px solid darkblue;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 100%;
    transition: 0.3s;
    transform-style: preserve-3d;
}

.labelInput{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    border: 3px solid darkblue;
    padding-top: 1%;
    padding-bottom: 1.6%;
    margin-left: 25%;
    transition: 1s;
    background: black;
    color: white;
    text-align: center;
}
.labelInput:hover{
    background: darkblue;
}

.labelInput:hover + #usernameInput,
.labelInput:hover + #passwordInput,
.labelInput:hover + #titleInput,
.labelInput:hover + #inputTextarea{
    transform: scale(1.1);
}

.input:focus,
.textArea:focus {
    transform: scale(1.1);
}

.textArea{
    text-align: center;
    border-bottom: 3%;
    padding: 2.5%;
    width: 100%;
    border: 3px solid darkblue;
    margin-top: 3%;
    transition: 0.3s;
}

.textArea:focus{
    text-align: justify;
}


#loginForm .buttonNavigation{
    width: 100%;
}

.input:active,
.input:focus{
    background: darkblue;
    color: white;
}


#errorMessage {
    padding: 2.5%;
    text-align: center;
    border: 3px solid darkblue;
    color: white;
    background: radial-gradient(red, lightcoral);
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    transition: 1s;
}

#errorMessage:hover{
    font-size: 2em;
}

#successMessage {
    padding: 2.5%;
    text-align: center;
    border: 3px solid darkblue;
    color: white;
    background: radial-gradient(lightgreen, green);
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    transition: 1s;
}

#successMessage:hover{
    font-size: 2em;
}

.postContainer{
    padding: 3%;
    margin: 3%;
    border: 3px solid darkblue;
    text-align: center;
    color: darkblue;
    background: #E7E7E7;
}

.titlePreview{
    font-size: 2em;
    text-decoration: underline;
}

.contentPreview{
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}

.authorPreview{
    font-size: 1.3em;
    text-decoration: underline;
}

.datePreview{
    text-decoration: 1.2em;
}


#postPres {
    background: #E7E7E7;
    color: darkblue;
}

.postTop {
    padding: 1%;
    font-size: 2.5em;
    background: black;
    width: 90%;
    color: white;
    margin-left: 5%;
    margin-top: 1%;
    transition: 1s;
}

.postTop:hover{
    color: white;
    background: darkblue;
}



